{{!-- Registratie form --}}
<main>
  <article>
  </article>
  <article>
    <section class="login">
      <form action="/saveUser" method="post" name="userData">
        <fieldset>
          <legend>Create account</legend>
          <label for="username">Name</label>
          <input type="text" name="username" id="username" required>
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" required>
          <label for="password">password</label>
          <input type="password" name="password" id="password" minlength="5" required>
          <label for="petChoice">Pick your pet:</label>
            <select id="petChoice" name="petChoice" list="petFlavors">
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="bird">Bird</option>
              <option value="bunny">Bunny</option>
              <option value="hamster">Hamster</option>
            </select>
          <button type="submit">Registreer</button>
        </fieldset>
      </form>
    </section>
  </article>
</main>
