{{!--  Registratie form --}}
<form action="/saveUser" method="post" name="userData">
  <fieldset>
    <legend>Add A User</legend>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
    <label for="password">your peepee</label>
    <input type="password" name="password" id="password" minlength="5" required>
    <label for="petChoice">Pick your pet:</label>
    <input id="petChoice" name="petChoice" list="petFlavors"/>
    <datalist id="petFlavors">
        <option value="hond">
        <option value="kat">
        <option value="vogel">
        <option value="slang">
    </datalist>
    <button type="submit">Registreer</button>
  </fieldset>
</form>