    {{!-- Oproepen van data voor de user list met pet --}}
<section class="userlist">
    {{#each users}}
        <article>
            <section class="text">
                {{this.name}} has a {{this.pet}}
            </section>
            <section class="img">
                <img src="./images/animals/{{this.name}}.png" alt="">
            </section>
        </article>
    {{/each}}
</section>
<a href="/matches">Find your match!</a>