<ul class="people_list">
    {{!-- Oproepen van data voor de user list met pet --}}
    {{#each users}}
        <li>{{this.name}} has a {{this.pet}}</li>
    {{/each}}
</ul>
<a href="/matches">Find your match!</a>