<ul class="people_list">
  {{#if users }}
    {{!-- Oproepen van data voor de user list met pet --}}
    {{#each users as |users|}}
      <li>{{users.name}} has a {{users.pet}}</li>
    {{/each}}
  {{/if}}
</ul>

<form action="/toPetCrud" method="GET">
  <button type="submit">petCrud</button>
</form>
 </br>
<form action="/toChat" method="GET">
  <button type="submit">Chatrooms</button>
</form>