    {{!-- Oproepen van data voor de user list met pet --}}
<main>
    <section class="userlist">
        {{#each users}}
            <article style="background-image: url('./images/animals/{{this._id}}userimage.png');">
                <section class="text">
                    <h4>{{this.name}} has a {{this.pet}}</h4>
                </section>
            </article>
        {{/each}}
    </section>
    <section class="match">
    <a href="/matches" class="findMatch">Find your match!</a>
    </section
</main>