
        <!DOCTYPE html>

        <html>
            <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title>Matching App</title>
                <meta name="Matching App" content="Matching site">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" type="text/css" href="../styles/style.css">
                <link rel="stylesheet" type="text/css" href="../styles/main.css">
            </head>
        <body>
             <header>
        
            </header>
        
            <div class="split left">
                <img class="banner" src="../images/foto banner .jpeg">
            </div>
        
            <div class="split right">
        {{>navigation}}
            
                <div class="centered">
                <h1>Create an account or log in</h1>

                <a href="/register"><button>Register</button></a>

                <a href="/login"><button>Login</button></a>

                </div>
        
            </div>
        
                
        </body>
        </html>