body nav {
  width: 20%;
  margin: 0 auto;
}

body nav a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
}

body nav a img {
  width: 30%;
}

body nav a h1 {
  margin-left: 30px;
}

ul {
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.crudListing {
  list-style-type: none;
  width: 33%;
  font-family: 'Poppins', sans-serif;
  min-width: 500px;
}

button {
  margin-top: 2em;
  cursor: pointer;
  width: 8%;
  border: none;
  padding: 1.5em 3em;
  font-weight: bold;
  font-size: 1em;
  color: white;
  background-color: #7DC1A0;
  transition: box-shadow 200ms ease-in, background-color 200ms ease-in;
  min-width: 150px;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.crudForm {
  width: 95%;
  height: 90%;
  padding: 10px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 22px;
  color: white;
}

article {
  border-radius: 30px;
  overflow: hidden;
  padding: 10px;
  margin: 2%;
  height: 13em;
  background-position: center;
  background-size: cover;
}

.petLabel {
  font-size: 25px;
}

#petChoice {
  width: fit-content;
  background: none;
  border: none;
  font-size: 25px;
  color: white;
}

.choiceOption {
  color: black;
}

#updateButton {
  width: 40%;
  margin-right: 1em;
  height: 40%;
  max-height: 66px;
  min-width: 191px;
}

#deleteButton {
  width: 40%;
  height: 40%;
  max-height: 66px;
  min-width: 191px;
}

.userText {
  font-size: 20px;
  width: fit-content;
}
